# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*py.class
play.py
notes.txt

# Flask Related
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Virtual env files
flaskapp1/bin/
flaskapp1/include/
flaskapp1/lib/
flaskapp1/pip-selfcheck.json